@font-face {
    font-family: 'Product Sans Black Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Black Regular'), url('../fonts/ProductSans-Black.woff') format('woff');
}

@font-face{
    font-family: 'Product Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Black Regular'), url('../fonts/ProductSans-Regular.woff') format('woff');

}

::-webkit-scrollbar{
    display: none;
}

::-webkit-scrollbar-thumb{
    display: none;
}


.theme-light {
    --color-primary: #ffffffc2;
    --color-background: #f2f2f2;
    --color-hover: #fffffff6;
    --color-font: #000000;
    --color-shadow: #81818185;
    --color-box-shadow: #818181b9;
    transition: ease-in 250ms;
}

.theme-dark {
    --color-primary: #3f3f3fb0;
    --color-background: #000000;
    --color-hover: rgba(78, 78, 78, 0.7);
    --color-font: #ffffff;
    --color-shadow: none;
    --color-box-shadow: #88888860;
    transition: ease-in 250ms;
}

*{
    color: var(--color-font) !important;
    font-family: 'Product Sans Black Regular' !important;
}

html{

    background-color: var(--color-background);
    margin: 0 0;
    scroll-behavior: smooth;
}

body{
    margin: 0 0;
}

h1, h2, h3, h4, h5, h6, p, a{
    margin: 0 0;
    text-decoration: none;
}



.div{
    background-color: var(--color-primary);
    box-shadow: 0px 0px 10px var(--color-shadow);
    border-radius: 13px;
    padding: 10px;
    backdrop-filter: blur(25px);
}

.div img{
    border-radius: 10px;
}

/* Navigation */

.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.container{
    width: calc(100% - 150px);
    padding: 0 0;
    height: 30px;
    padding: 10px;
}

.navlink{
    transition: 500ms;
    font-size: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navlink:hover{
    transition: 500ms;
    text-shadow: 0px 0px 70px var(--color-font);
}

.nvimg{
    margin-right: 13px;
    height: 30px;
    width: 30px;
    border-radius: 0px !important;
}

.svh{
    margin-right: 13px;
    width: 30px;
    height: 30px;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
}

#hdr{
    border-left: 2px solid var(--color-font);
    height: 40px;
    border-radius: 10px;
    margin-right: 18.5px;
    margin-left: 8.5px;
    
}

.sqr{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.sqr img{
    height: 100%;
}

#title{
    font-size: 30px;
    margin-right: 1%;
}

#titl{
    font-size: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.hh{
    position: fixed;
    display: block;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    z-index: 100;
}

.hhi{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
}

/* Content */

#content{
    padding-top: 70px;
    padding-left: 10px;
    padding-right: 10px;
}

#abc{
    display: flex;
    justify-content: center;
}

/* Ads */

div#amzn-native-ad-0 div.amzn-native-products-list div.amzn-native-product{
    background: var(--color-primary) !important;
    background-color: var(--color-primary) !important;
    border-radius: 15px;
}

.amzn{
    position: sticky;
}

/* Global */

@media screen and (max-width: 800px){
    .container{
        margin-left: 8.305px;
        margin-right: 8.305px;
    }

    .hh1{
        padding-left: 8.305px;
        padding-right: 8.305px;
    }

    
}

/* */ 

