@font-face {
  font-family: 'Product Sans Black Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Black Regular'), url('../fonts/ProductSans-Black.woff') format('woff');
}

@font-face{
  font-family: 'Product Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Black Regular'), url('../fonts/ProductSans-Regular.woff') format('woff');

}
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background: #000000;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: #ffffff;
  background: #3f3f3fb0;
  text-align: center;
  
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  color: #ffffff;
  background: #3f3f3fb0;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
  color: #ffffff;
  baca
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: #ffffff;
  background: #383838;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}